@font-face {
    font-family: 'Pacifico';
    src: url("/static/Pacifico-Regular.ttf");
}
@font-face {
    font-family: 'Bariol_bold';
    src: url("/static/fonts/Bariol_Bold.otf");
}
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Goudy+Bookletter+1911&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Barcode+39+Text&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;

}

section{
    margin-block: 40px;
}

:***REMOVED*** {
    --background-gray: #f2f2f2;
    --main-bg-color: #e1e1e1;
    --dark-back:rgba(15,15,15,0.6);
    --white-cosmic: #eee;
    --express_blue:rgb(0, 56, 130);
    --header:rgba(255, 255, 255, 0.85);
    --transparent_white:rgba(255, 255, 255, 0.87);
    --large-subtitle-text: #8C91A3;
    --cardGrey: #8c91a3;
    --header-text: #191919;
    --large-title-text: #20202a;
    --pure-white: #fff;
    --background_image_vertical: url("/static/images/back.png");
}
a{
    text-decoration: none;
    color: inherit;

}
.division{
    width: 100%;
    display: flex;
    height: 1.4px;
    background: linear-gradient(0deg,rgb(255, 255, 0)0%, rgba(0, 0, 0, 1)50%, rgba(255, 255, 255, 0)100%);
    margin-block: 10px;
    
}
body{
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow-x: hidden;
    background:#0F0F0F;
    width: 100vw;
    transition: 0.5s;
}
#ADS{
    position: fixed;
    width: 100%;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
    z-index: 0;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 600px){
    #ADS{
        display: none;
    }
    .ExpressTitle{
	text-shadow: 1px 1px 1px gray;
    }
}
body.stop{
    overflow: hidden;
}
.burger{
    position: fixed;
    flex-flow: column nowrap;
    margin-right: 10px;
    z-index: 1001;
    top: 20px;
    right: 10px;
    width: 30px;
    height: 30px;
}
.burger .line{
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: inherit;
    backdrop-filter: invert(1) saturate(0);
    -webkit-backdrop-filter: invert(1) saturate(0);

    box-shadow: #191919 0 0 1px;
    margin: 5px;
    border-radius: 5px;
    transition: 0.5s;
}

.burger.extended{
    display: block;
}
.burger.extended :nth-child(1){
    position: absolute;
    transform: rotate(45deg);
}
.burger.extended :nth-child(3){
    background-color: rgb(0, 0, 0);
    display: none;
}

.burger.extended :nth-child(2){
    position: absolute;
    transform: rotate(-45deg);
}

header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: var(--pure-white);
    position: fixed;
    width: 100%;
    max-width: 100vw;
    z-index: 1000;
    max-height: 700px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all !important;
    color: gray;
  
    padding-inline: 10px;
}

header .up{
    display: inline-flex;
    height: 100%;
    width: 100%;
    max-height: 80px;
    overflow: hidden;
}
header .down{
    display: none;
}
header .down.extended{
    display: flex;
    padding-block: 20px;
    width: 100%;
    padding-left: 10rem;
    flex-direction: column;
    gap: 20px;
    transition: all 0.5s linear;
}


header .down a{
    color: var(--header-text);
    font-size: 1.5rem;
    font-weight: 300;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
/* 
header.opaque{
    background-color: var(--header);
    backdrop-filter: brightness(100%) blur(2rem);
    -webkit-backdrop-filter: brightness(100%) blur(2rem);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all !important;
    color: #eee;
} */

header.hide{
    transform: translateY(-200px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s all !important;
}

header .up nav ul{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin: 0%;
    justify-content: start;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-size: 7vh;
    display: none;
    filter: blur(10px);
    -webkit-filter: blur(10px);
}
header.extended{
   
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s all !important; 
    height: 100%;
    max-height: none;
    width: 100vw;
    flex-flow: column nowrap !important;
    justify-content: baseline;
    align-items: baseline; 
    overflow: hidden;
    color: var(--header-text);
}

header .up .logos{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
    max-height: 100px;
    transition: all 0.5s linear; 
}
header .up .logos .logoText{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 10px;

}
header .up .logos a{
    height: 80px;
}
header .up .logos .page_name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 10px;
    visibility: visible;
}
header .up .logos .logoText.hide{
    display: none;
}
header .up  .logo{
    transition: all 0.5s linear; 
    position: relative;
    height: 100%;
    max-height: 60px;
    background-color: #000;
}

header nav.hide{
    display: none;

}

header .up .lang{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    max-height: 200px;
    text-transform: capitalize;
    flex-direction: row;
    top: unset;
    right: unset;
    transition: all 0.5s ease-in-out;

    /* for mobile, language is on top left */
    left: 100px;
}

header .up .lang a{
    visibility: hidden;
    width: 0px;
    color: var(--header-text);
}
header .lang a.hide{
    display: none;
}
header .lang .active{
    padding-inline: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-weight: bold;
}

header .lang .active :last-child {
    visibility: hidden;
}

header .lang.extended .active :last-child {
   visibility: visible;
}



header .lang.extended{
   left: unset;
    transition: all 0.5s ease-in-out;
}

header .lang.extended a{
    visibility: visible;
    color: gray;
    text-align: center;
    width: fit-content;
    transition: all 0.5s ease-in-out;
}
header .lang.extended a:hover{
    color: var(--header-text);
    background-color: var(--header);
    text-decoration: underline;

}

header.extended nav{
    display: flex;
    font-size: calc(8vw + 12px);
    flex-wrap: nowrap;
}

header.extended .logo{
    height: 100px;
}
header.extended .page_name{
    visibility: hidden;
}
header.extended nav ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: start;
    -webkit-filter: unset;
    filter: unset;
    padding-left: 10px;
    list-style: none;
}

header.extended nav ul li{
    padding: 2vh 0;
    display: flex ;
    flex-wrap: nowrap;
    flex-direction: column;
}

header.extended nav ul li:hover{
    opacity: 0.9;
    text-decoration: underline;

}
header.extended .lang{
    position: absolute;
    flex-direction: column;
    height: 100%;
    align-items: center;
    right: 10px;
    align-items: flex-end;
    margin-right: 10px;
}

header.extended .lang a{
    width: 100%;
    align-self: center;
}
@media screen and (min-width: 600px){
    #burger{
        display: none;
    }
    header .up{
        justify-content: start;
        padding-inline: 50px;
    }
    header .up .logos{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        height: 100%;
        max-width: 200px;
        transition: all 0.5s linear; 
    }
    header .logos .page_name{
        display: none;
    }

    header .up nav ul{
        display: flex;
        position: relative;
        flex-wrap: nowrap;
        
        justify-content: start;
        align-items: center;
        gap: 25px;
        list-style: none;
        font-size: calc(1.1rem + 1vh);
        font-weight: 300;
        filter: unset;
        -webkit-filter: unset;
    }
    
    header .up nav ul li{
        padding: 10px;
        margin-inline: 30px;
        white-space: nowrap;
        position: relative;
    }
    header .up nav ul li a:hover{
        color: var(--header-text);
        text-decoration: underline;
    }

     header .up .lang{
        top: 0px;
        right: 100px;
        min-height: 60px;
        height: fit-content;
        max-height: unset;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left:unset;
        margin-inline: 20px;
    } 

    header .lang.extended{
        padding-bottom: 10px;
        background-color: var(--transparent_white);
    }


    
}
#main{
    transition: visibility 0.5s linear, opacity 0.5s linear;
    visibility: visible;
    opacity: 1;
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow: hidden;
    display:flex;
    flex-direction:column;
    justify-items:center;
    align-content:center;
    align-items:center;
    background-color: var(--pure-white);
}

#main.hide{
    visibility: hidden;
    opacity: 0;
} 

.page1{

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: baseline;
    align-items: baseline;
    height: 100vh;
    position:relative;
    width: 100vw;
    overflow: hidden;
    padding-top: 10vmax;
    background-color: var(--main-bg-color);
}

.page1 .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--large-title-text);
}
.page1 .presentationBloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--large-title-text);
    z-index: 50;
    position: relative;
    width: 100%;
	background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(15,15,15,0.9) 21%, rgba(0,0,0,0) 100%);
    background-color: red;
}

.page1 .presentationBloc h1{
    font-size: calc(2rem + 2vw);
    text-wrap: nowrap;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.page1 .presentationBloc p{
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
    color: var(--large-subtitle-text);
    text-align: center;
}   
.page1 .phone{
    object-fit:cover;
	z-index:20
}

#phone2{
	display:flex;
	position:absolute;
	top:0px;
	width:100%;
	height:100%;
	
}
#phone1{
       display:none;

}
@media screen and (min-width: 600px){
    .page1{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 0px;
    }

    .page1 .presentationBloc{
        width: 100%;
        height: 100%;
        align-items: start;
        background: rgb(15,15,15);
	    background: linear-gradient(90deg, #e1e1e1 0%, var(--header) 21%, transparent 60%);
        
    }

    .page1 .presentationBloc::after{
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(0deg, white 0%, var(--header) 21%, transparent 60%);
    }

    .page1 .presentationBloc::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, white 0%, var(--header) 21%, transparent 60%);
    }

    .page1 .presentationBloc p , .page1 .presentationBloc h1{
        padding-left: 50px;
    }

    #phone1{
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background: inherit;
    }
    #phone2{
	display:none;	
    }
    
}

/* Page 2 ================================================ */

.page2 .back{
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: fill;
    z-index: 1;
}




/* Phone Animation */
@keyframes disappear {
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(-100px);
        opacity: 0;
    }
}
@keyframes appear {
    from{
        transform: translateY(-200px) scale(2.4);
        opacity: 0;
    }
    to{
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}

.page2{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    text-align: justify;
    padding-bottom: 50px;
    padding-top: 2vmin;
    width:100%;
    max-width: 100vw;
}
.page2 .header_image{
    width: 100vw;
    max-height: 400px;
    position: sticky;
    border-radius: 0px 0px 50px 50px;
    overflow: hidden;
}
.page2 .header_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.page2.large{
    height: fit-content;
}

.page2.invert{
    background-color: var(--header);

}
.page2 .presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.page2 .presentation .desc{
    padding-bottom: 30px;
    padding-inline: 10px;
    font-size: calc(1vw + 1vh + 1vmin);
    color: gray;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.page2 .presentation img{
    width: 100%;
    max-height: 800px;
    object-fit: contain;

}
.page2 .presentation .desc img{
    width: 100%;
    max-height: 400px;
    object-fit: contain;
    margin: 0 auto;
}
.page2 .presentation .vid1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    margin-top: 100px;
    z-index: 2;
    transform: translateY(-100px);
}
.page2 .backgrid{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1200px;
    gap: 2vmin;
    z-index: 1;
    justify-content: center;
    font-family: "Inter", sans-serif;
}
.page2 .backgrid ::after{
    content: "";
    display: block;
    flex-grow: 10;
}

.page2 .backgrid li{
    position: relative;
    list-style-type: none;
    min-width: 300px;
    max-width: 300px;
    height: 300px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--background-gray);
    -webkit-backdrop-filter: blur(2rem);
    backdrop-filter: blur(2rem);
    border-radius: 1rem;
    padding: 10px;
}
.page2 .backgrid li .img-back{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background:inherit;
    
}
.page2 .backgrid li .text{
    position: relative;
    color: var(--header-text);
    font-size: 1.1rem;
    z-index:221;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.page2 .backgrid li .text h2{
    text-align: center;
    color: var(--header-text);
    margin-bottom: 10px;
}

.page2 .backgrid li .text p{
    opacity: .6;
    font-weight: 100;
}
.page2 .backgrid li .img-round{
    position: absolute;
    bottom: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    padding: 5px;
    border-radius: 50%;
    background-color: var(--transparent_white);
    z-index: 200;
}

.page2 .backgrid .img-back{
    position: relative;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    object-fit: cover;
    border-radius: 0.8rem;
}
.page2 .subtitle2{
    padding-bottom: 20px;
    font-size: 1.2rem;
    text-wrap: balance;
    white-space: pre-wrap;
}
.page2 .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2vw;
    z-index: 100;
    padding-top: 50px;
    gap: 40px;
    overflow-x: hidden;
    padding-bottom: 100px;
}

.page2 .list .service{
    width: 90%;
    max-width: 400px;
    max-height: 250px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: var(--pure-white);
    border-radius: 1rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Inter", sans-serif;
    padding: 10px;
    text-overflow: ellipsis;
}
.page2 .list .service .s-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
    z-index: 1;
    margin: 0px 10px 10px 0px;
}

.page2 .list .service h2{
    color: #000;
    font-weight: 500;
    margin-bottom: 10px;
}
.page2 .list .service p{
    font-weight: 100;
    line-height: 1.4;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    opacity: .6;
}
.page2 .contact {
    display: none;
    padding: 10px;
    z-index: 50;
    text-align: center;
    max-width: 800px;
}


.page2 .talk{
    
    text-align: center;
    max-width: 800px;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px;
    padding-top: 50px;
    color: #eee;
}

.page2 .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    padding-top: 30px;

}
.page2 .buttons .btn{
    background-color: var(--express_blue);
    color: #ffffff;
    font-size: 1.5rem;
    padding: 10px;
    padding-inline: 20px;
    border-radius: 2rem;
    margin: 10px;

}
@keyframes infiniteScroll {
    to{
        transform: translate3d(-50%, 0, 0);
    }
}
.page2 .photowall{
    display: flex;
    width: 100%;
    max-width: 800px;
    margin-top: 100px;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: start;
    transform-origin: left;
}
.page2 .photowall .scroller_in:hover{
    animation-play-state: paused;
}
.page2 .photowall .scroller_in{
    display: flex;
    width: max-content;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    animation: infiniteScroll 60s linear infinite;

}
.page2 .photowall .photo{
    margin-inline: 10px;
    width: calc(100vw / 2);
    height: calc(100vw / 2);
    border: solid 1px #191919;
    border-radius: 0.1rem;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: all 0.5s ease-in-out;
}

.page2 .photowall .photo:hover{
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    transition: all 0.5s ease-in-out;
}


.page2 .buttons :first-child{
    background-color: var(--header);
    border: solid 1px #eee;
    color: #eee;
}
.page2 .contact form{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: start;
    width: 100%;
    height: 100%;
    max-width: 600px;
    color: #fff;
    font-size: 20px;
    text-align: start;
}

.page2 .contact form .entry{
    align-self: first baseline;
    width: 100%;
}

.page2 .contact form .submit-btn{
    background-color: var(--transparent_white);
    color: var(--header);
    font-size: 1.5rem;
    width: 100%;
    padding-block: 10px;
    border-radius: 1rem;

    border: none;
}

#pricing .services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    overflow-y: scroll;
}
#pricing .services ::after{
    content: "";
    display: block;
    flex-grow: 1;
}

@media screen and (min-width: 600px){
    .page2 .title1{
        font-size: 3rem;
    }
    .page2 .presentation{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 40px;
    }
    .page2 .section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        gap: 40px;
        margin-block: 20px;
    }
    .page2 .section .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--header-text);
        max-width: 500px;

    }
    .page2 .presentation .desc{
        display: flex;
        font-size: 1.2rem;
        min-width: 600px;
        max-width: 800px;
        padding: 10px;
        flex-direction : column-reverse;
        gap: 40px;
    }
    .page2 .presentation .vid1{
        width: 100%;
        object-fit: contain;
        border-radius: 50px;
        margin-top: 100px;
        max-width: 500px;
        z-index: 2;
        transform: translateY(-100px);
    }
    .page2 .presentation img{
        width: 100%;
        max-width: 600px;
        object-fit: contain;
    }
    .page2 .presentation .desc img{
        float: unset;
        max-height: none;
    }


    .page2 .backgrid li{
       width: fit-content;
        height: 400px;
        flex-grow: 1;
        color: #fff;
        
    }

    .page2 .photowall .photo{
        margin-inline: 10px;
        width: calc(100vw / 6);
        height: calc(100vw / 6);
    }
    
}

.title1{
    position: relative;
    padding-bottom: 3vmin;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 10px;
    z-index: 100;
    max-width: 600px;
    text-align: center;
    font-family: "Inter", sans-serif;
}
.subtitle{
    padding-top: 20px;
    font-size: 1.2rem;
    color: var(--large-subtitle-text);
    max-width: 600px;
    padding-inline: 10px;
    text-align: center;
    font-weight: 100;
}
.subtitle p{
    text-align: center;
    padding: 10px;
}
.subtitle.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.subtitle a{
    text-decoration: underline;
}

.title1.invert{
    color: #fff;
}



.page2 .overlay{
    position: absolute;
    width: 100vw;
    height: 50vh;
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 3;
}


#message{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-color: var(--white-cosmic);
    border: none;
    text-align: left;
    z-index: 2;
    padding: 20px;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: black;
    line-height: 30px;
}
.input{
    height: 30px;
    margin-bottom: 20px;
    background-color: inherit;
    border: unset;
    text-align: left;
    z-index: 2;
    position: relative;
    font-size: 1.5rem;
    color:var(--transparent_white);
}

.input ::after{
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100px;
    height: 10px;
    background-color: #ff0000;
    z-index: 500;
}


.input:focus{
    box-shadow: none;
    outline: none;
    color: var(--express_blue);
    border-bottom: 2px solid var(--express_blue);
}

#pricing{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100vw;
    height: fit-content;
    padding-top: 2vmin;
    background:inherit;
    
}
.page2 .category{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
    background:inherit;
    height: fit-content;
    max-height: none;
    transition: all 0.5s ease-in-out ;
}

.page2 .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: fit-content;
    max-height: none;
    background:inherit;
    cursor: pointer;
}

.page2 .categories .cat_btn{
    padding: 10px;
    border-radius: 1rem;
    background-color: #eee;
    color: #191919;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 10px;
    text-wrap: nowrap;
    white-space: nowrap;
    shape-outside: content-box;
    box-shadow: #343434 0 0 10px;
    transition: all 0.5s ease-in-out ;
}

.page2 .categories .cat_btn:hover{
    background-color: #191919;
    color: #eee;
    box-shadow: #191919 0 0 0px;
    transition: all 0.5s ease-in-out ;
}
.page2 .categories .cat_btn.active{
    visibility: hidden;
    display: none;
    transition: all 0.5s ease-in-out ;
}

.page2 .category.active{
    display: flex;
}

.page2 .category .title1{
	color: var(--transparent_white);
}
#pricing .services .service{
    display: flex;
    position:relative;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    min-height: 80px;
    max-width: 400px;
    background:inherit;
    margin: 10px;
    overflow: hidden;
}

#pricing .services .service::before{
	content:"";
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background:inherit;
	filter:blur(50px);
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description .header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    color: var(--dark-background);
}

.description .header .illustration{
    position: relative;
    object-fit: cover;
    align-self: center;
    contain: layout;
    height: 100%;
    width: 100%;
    z-index: 10;
    max-height: 20vh;
}

.description .header .title{
    height: 100%;
    top: 100px;
    font-size: calc(1rem + 1vw);
    font-weight: 700;
    color: var(--header-text);
    text-align: center;
    padding: 10px;
    z-index: 1000;
}

#pricing .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 100%;
    font-weight: bold;
}

#pricing .categories .category-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 120px;
    width: 160px;
    background-color: var(--pure-white);
    color: var(--header-text);
    margin: 10px;
    border-radius: 1rem;
    transition: all 0.5s ease-in-out;
}

#pricing .categories .category-card:hover{
    box-shadow: #191919 0 0 10px;
    background-color: var(--express_blue);
    color:var(--pure-white);
}

#pricing .categories .category-card .illustration{
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 1rem;
}



.page2 .service-item .photo{
    position: relative;
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 25px;
    z-index: 50;
}
#pricing .services .service .infos{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 5px;
    z-index: 3;
    width: 100%;
    height: 100%;
    text-overflow: ellipsis;
    z-index: 60;
    background-color: var(--white-cosmic);
}

#pricing .services .service .infos p{
    font-size: 0.8rem;
    margin-bottom: 2px;
    color: var(--large-subtitle-text)
}

#pricing .services .service .infos h2{
	color:var(--large-title-text);
    font-size: 1.2rem;
    font-weight: 700;
	text-align: left;
}
#pricing .services .service .costs{
    margin-left: 5px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 5px;
    padding: 5px;
    height: 100%;
    width: 150px;
    z-index: 100;
}

.page2 .service-item  .prices :first-child{
    color: cornflowerblue;
}
#pricing .services .service .costs .price{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 700;
    height: 100%;
    width: 100px;
    color: #eee;
    background-color: #191919;
    padding-top: 10px;
    gap: 10px;
}

#pricing .services .service .costs .price .title{
    text-decoration: underline;
    color: cornflowerblue;
}

#pricing .services .service .costs .price .value{
    color: #eee;
    font-weight: 300;
}

.page2 .store_locations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 90% ;
}
.page2 .location{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}
.page2 .location .bigTitle{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 50px;
    padding-left: 10px;
    z-index: 100;
}
.page2 .location .smallTitle{
    font-size: 0.8rem;
    opacity: 0.5;
    font-weight: 700;
    padding-left: 10px;
    z-index: 100;
}

.page2 .location .loc-illustration{
    position: relative;
    width: 100%;
    height: 100vw;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}


.page2 .location .loc-illustration .loc-img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.page2 .location .loc-illustration .informations{
    z-index: 1000;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    color: aliceblue;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.button{
    background: #fff;
    color: #000;
    padding: 10px;
    border-radius: 1rem;
    margin: 10px;
    text-wrap: nowrap;
    white-space: nowrap;
    float: right;
    shape-outside: content-box;
}
.button_blk{
    color: #000;
    text-decoration: underline;
    text-wrap: nowrap;
    white-space: nowrap;
    font-size: 0.8rem;
    font-style: italic;
}
.page2 .location .loc-illustration span{
    padding: 10px;
    font-weight: 400;
}

#locations{
    height: fit-content;
    background-color: var(--header);
    color: var(--header-text);
}
#delivery{
    background-color: var(--background-gray);
    height: fit-content;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#delivery .delivery-bloc{
    width: 40%;
    min-width: 310px;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: start;
    align-items: self-start;
    text-align: start;
}

#delivery .delivery-bloc .subtitle{
    display: flex;
    text-align: left;
}


#delivery .delivery-bloc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#about{
    background: var(--header);
    color: #fff;
    overflow-y: scroll;
    height: fit-content;
}
#about .section:nth-child(even){
    flex-direction: row-reverse;

}
#services{
    background-color: var(--pure-white);
}
#pricing{
    max-width:1400px;
    padding-top: 12vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--header-text);
    background-color: var(--pure-white);
}

#pricing .description{
    width: 95%;
}

#pricing .description .header .subtitle{
    width: 90%;
    max-width: fit-content;
    margin-block: 20px;
}

#pricing .description .header .subtitle h2{
    padding-block: 40px;
}
#pricing .description .header .subtitle img{
    margin-block: 20px;
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    float: inline-end;
    margin-inline: 20px;
}

#about p{
    padding: 10px;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: justify;
    text-wrap: wrap;
    max-width:1200px;

}
#about .title2{
    font-weight: 500;
    font-size: 1.6rem;
    margin-top: 50px;

}
#about .picture{
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width:500px;
}

#contact{
    height: fit-content;
    background-color: var(--header);
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    padding-top: 10vmax;
}

#offers{
    color: var(--header-text);
    height: unset;
}

.contacts-btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--express_blue);
    color: #fff;
    padding: 30px;
    border-radius: 1rem;
    margin: 10px;
    text-wrap: nowrap;
    white-space: nowrap;
    shape-outside: content-box;
    gap: 5vw;
}
.contacts-btn a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #eee;
    min-width: 200px;
    padding-block: 5px;
    padding-inline: 8px;
    color: #000;
}
.contacts-btn a img{
    width: 30px;
    height: 30px;
    object-fit: contain;
    color: #000;
   
}

@media screen and (min-width:600px){
	#contact{
		display:flex;
		flex-direction:column;
		flex-wrap:nowrap;
		background:var(--header);
		justify-content:center;
		justify-items:center;
        align-content: center;
        align-items: center;
		gap:80px;
        color: #eee;
	}
	#contact .title1{
		position:relative;
		font-size:10vw;
		align-self:center;
		justify-self:center;
		width:100%;
		opacity:0.6;
		color:var(--transparent_white);
	}
	#contact .contact{
		z-index:100;
        width: 100%;
        max-width: 800px;
	}

}

footer{
    display: flex;
    flex-direction: column;
   width: 100vw;
   margin: 0;
   padding-block: 20px;
   background-color: rgba(0, 0, 0, 0.87);
    backdrop-filter: saturate(0.1) blur(5px);
    -webkit-backdrop-filter: saturate(0.1) blur(5px);
   color: #fff;

}
#footer.hide{
    display: none;

}
 footer::after{
    content: '';
    position: absolute;
    display: block;
    width: 100%;
   background-color: #191919a6;
    backdrop-filter: blur(2rem);
    -webkit-backdrop-filter: blur(2rem);
    margin-block: 10px;
    z-index: 1;
} 
footer .left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    z-index: 3;
}
footer .left .logo{
    width: 200px;
    height: 200px;
    border-radius: 10px;

}

footer .left .mailto{
    margin-block: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 1rem;
    color: #000;
    box-shadow: #0000008a 0 0 10px;
}
footer .right .links{
    padding-top: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;

}

footer .right .socials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
    padding-block: 30px;
}
footer .right .icon-link{
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 3;
}
/* ========= GENERAL =============*/
.divider_vertical{
    width: 2px;
    height: 30px;
    background-color: #0099ff;
    margin-inline: 10px;
}
#background{
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
    margin: 0;
    padding: 0;
    background-image: var(--background_image_vertical);
    background-size: cover;
    background-repeat: no-repeat;
}


.galleria { 
    width: 100%;
    height: 100%;
    padding: 100px;
    background: var(--background-gray);
}

.blurOverlay{
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background: transparent;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: block;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}

.blurOverlay.hidden{
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}