{% extends "layout.html" %}
{% block title %} {{ _('About') }} {% endblock %}

{% block page %}
<section class="page2 invert" id="about">
    <div class="about-header">
        <div class="content">
            <div class="presentationBloc">
                <h1 class="ExpressTitle">{{_('about_title')}}</h1>
                <p>{{_('about_sub')}}</p>
            </div>
        </div>
    </div>
    <div class="about-content">
        
        <div class="reviews" data-aos="fade-down" data-aos-duration="1500">
            <div class="splide" role="group" aria-label="Splide test">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="review">
                                <img src="/static/images/Anorak.jpg" alt="user picture">
                                <div class="review-text">
                                    <p>Très satisfait de ce pressing, une équipe au top service à temps mention spécial à Madame Dimitra pour son professionnalisme sa gentillesse vous faites de l'excellent travail merci beaucoup pour ces recommandations au niveau des entretiens de mes chemises ainsi que de mes vestes au top je recommande vivement ✨😄</p>
                                    <div class="review-author">Dali Maherzi</div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="review">
                                <img src="/static/images/back.png" alt="user picture">
                                <div class="review-text">
                                    <p>Endroit hyper professionnel pour le linge et le nettoyage à sec et personnel sympa.

                                        Dommage que vous arrêtiez les colis mais si c’est pour avoir des gens désagréables je vous comprends car c’est un boulot immense et cela vous rapporte des cacahouètes.
                                        A bientôt.</p>
                                    <div class="review-author">Miche Acar</div>
                                </div>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="review">
                                <img src="/static/images/blanchisserie.jpg" alt="user picture">
                                <div class="review-text">
                                    <p>Je n’y vais que pour mes colis mais le personnel est super accueillant et chaleureux. C’est un plaisir de m’y rendre.
                                        Des personnes très courageuses.
                                        Merci à vous</p>
                                    <div class="review-author">Nour Daby</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="divider horizontal"></div>
        <div class="numbers" id="numbers">
            <div class="title1" data-aos="fade-up">{{_('numbers_title')}}</div>
            <div class="subtitle"data-aos="fade-up" data-aos-delay="100">{{_('numbers_subtitle')}}</div>
            <div class="values" data-aos="fade-up" data-aos-delay="200">
                <div class="number">
                    <span class="number-value" id="years_exp">15</span>
                    <span class="number-text">{{_('number1_text')}}</span>
                </div>
                <div class="number">
                    <span class="number-value" id="partners">300+</span>
                    <span class="number-text">{{_('number2_text')}}</span>
                </div>
            </div>
            <img src="/static/imagesweb/share_img.jpeg" alt="" data-aos="zoom-out" data-aos-delay="500">
        </div>
        <span class="title1" data-aos="fade-down">{{_('strengths_title')}}</span>
        <div class="strengths">
            <div class="strength" data-aos="zoom-in-left" data-aos-delay="100">
                <img src="/static/imagesweb/checkmark-seal-svgrepo-com.svg" alt="quality">
                <div class="strength-text">
                    <span>{{_('strength1_title')}}</span>
                    <span>{{_('strength1_sub')}}</span>
                </div>
                
            </div>
            <div class="strength" data-aos="zoom-in-right" data-aos-delay="300">
                <img src="/static/imagesweb/clock-circle-svgrepo-com.svg" alt="eco">
                <div class="strength-text">
                    <span>{{_('strength2_title')}}</span>
                <span>{{_('strength2_sub')}}</span>
                </div>
            </div>
            <div class="strength" data-aos="zoom-in-left" data-aos-delay="500">
                <img src="/static/imagesweb/smile-circle-svgrepo-com.svg" alt="speed">
                <div class="strength-text">
                    <span> {{_('strength3_title')}}</span>
                    <span>{{_('strength3_sub')}}</span>
                </div>
            </div>
            <div class="strength" data-aos="zoom-in-right" data-aos-delay="700">
                <img src="/static/imagesweb/checkmark-seal-svgrepo-com.svg" alt="quality">
                <div class="strength-text">
                    <span>{{_('strength4_title')}}</span>
                    <span>{{_('strength4_sub')}}</span>
                </div>
                
            </div>
        </div>

        <div class="engagements">
            <div class="title1" data-aos="fade-up">{{_('engagements_title')}}</div>
            <div class="subtitle"data-aos="fade-down" data-aos-delay="200"> {{_('engagements_sub')}}</div>
            <a href="#" class="button">{{_('engagements_btn1')}}</a>

            <div class="title1" data-aos="fade-up">{{_('engagements_title_2')}}</div>
            <div class="values">
                <div class="block">
                    <div class="empty-card-up"></div>
                    <div class="engagement alone" data-aos="fade-left" data-aos-duration="1000">
                        <span class="title">{{_('engagement1_title')}}</span>
                        <span class="value">{{_('engagement1_text')}}</span>
                    </div>
                    <div class="empty-card-down"></div>
                </div>
                
                <div class="block">
                    <div class="empty-card-up"></div>
                    <div class="engagement" data-aos="fade-up" data-aos-duration="1000">
                        <span class="title">{{_('engagement2_title')}}</span>
                        <span class="value">{{_('engagement2_text')}}</span>
                    </div>
                    <div class="card" id="engagement-card" data-aos="flip-right" data-aos-delay="100">
                        <span class="title">{{_('engagement_card_title')}}</span>
                        <a href="#"> {{_('engagement_card_btn')}}</a>
                    </div>
                    <div class="engagement" data-aos="fade-down" data-aos-duration="1000">
                        <span class="title">{{_('engagement3_title')}}</span>
                        <span class="value">{{_('engagement3_text')}}</span>
                    </div>
                    <div class="empty-card-down"></div>
                </div>
                <div class="block">
                    <div class="empty-card-up"></div>
                    <div class="engagement alone" data-aos="fade-right" data-aos-duration="1000">
                        <span class="title">{{_('engagement4_title')}}</span>
                        <span class="value">{{_('engagement4_text')}}</span>
                    </div>
                    <div class="empty-card-down"></div>
                </div>
            </div>
            <div class="empty-space"></div>
            <div class="values">
                <div class="block spacer">
                    <div class="engagement dark" data-aos="fade-down">
                        <img src="/static/images/pub3.jpg" alt="nettoyage haut de gamme" class="engagement-image">
                        <span class="title">{{_('engagement5_title')}}</span>
                        <span class="value">{{_('engagement5_text')}}</span>
                    </div>
                    <div class="engagement dark" data-aos="fade-left">
                        <img src="/static/imagesweb/transport.jpeg" alt="collecte" class="engagement-image">
                        <span class="title">{{_('engagement6_title')}}</span>
                        <span class="value">{{_('engagement6_text')}}</span>
                    </div>
                </div>
                <div class="block">
                    <div class="engagement" data-aos="fade-up">
                        <span class="title">{{_('engagement7_title')}}</span>
                        <span class="value">{{_('engagement7_text')}}</span>
                    </div>
                    <div class="engagement" data-aos="fade-right">
                        <span class="title">{{_('engagement8_title')}}</span>
                        <span class="value">{{_('engagement8_text')}}</span>
                    </div>
                </div>
            </div>
            <a href="#" class="button">{{_('engagements_btn2')}}</a>
        </div>
    </div>
</section>
{% endblock %}