{% extends "layout.html" %}

{% block title %} {{_('career') }}
{% endblock %}

{% block page %}

<section id="careers" class="page1">
    <img src="/static/imagesweb/career.jpg" class="phone" alt="career image">

    <div class="presentationBloc">
        <h1 class="ExpressTitle">{{_('career_title')}}</h1>
        <p class="ExpressTitle">{{_('career_sub')}}</p>
    </div>

</section>

<section class="page2" id="collaborations_page">

    <div class="description">
        <div class="header">
           
        </div>

        <div class="title1">
            {{_('career_contact_title')}}
        </div>
    
        <form action="{{ url_for('submit_career') }}" method="post" enctype="multipart/form-data" class="form">
    
            <h2>{{ _('cv_title') }}</h2>
        
            <div class="entry">
                <div class="block">
                    <span>{{ _('fullname') }}</span>
                    <input type="text" required name="full_name" id="full_name" placeholder="{{ _('fullname') }}" class="input">
                </div>
                <div class="block">
                    <span>{{ _('email') }}</span>
                    <input type="email" required name="email" id="cv_email" placeholder="{{ _('email') }}" class="input">
                </div>
            </div>
        
            <div class="entry">
                <div class="block">
                    <span>{{ _('phone_number') }}</span>
                    <input type="tel" required name="phone" id="cv_phone" placeholder="{{ _('phone_number') }}" class="input">
                </div>
            </div>
        
            <div class="entry">
                <div class="block">
                    <span>{{ _('message') }}</span>
                    <textarea name="message" required rows="6" id="cv_message" placeholder="{{ _('message') }}" class="input"></textarea>
                </div>
            </div>
        
            <div class="entry">
                <div class="block">
                    <span>{{ _('cv_upload') }}</span>
                    <input type="file" required name="cv_file" id="cv_file" accept=".pdf,.doc,.docx" class="input">
                </div>
            </div>
        
            {% if message %}
            <div class="alert" role="alert">
                {{ _(message) }}
            </div>
            {% endif %}
            
            <input type="submit" value="{{ _('cv_submit') }}" class="submit-btn">
        </form>
    </div>
</section>


   

{% endblock %}
