{% extends "layout.html" %}

{% block title %}{{ _('Contact') }}{% endblock %}

{% block page %}
<section class="page2" id="contact">
    <!-- Description -->
    <div class="description">
        <div class="title1">
            <h2> {{_('contact_title')}}<h2>
        <div class="header">
            
            <div class="subtitle">
                <p> {{_('contact_sub')}}</p>
            </div>
                <!-- Buttons -->
            <div class="contacts-btn">
                <a href="tel:+3224204130" class="btn">
                    <div class="content">
                        <img src="/static/imagesweb/telephone-fill.svg" alt="" class="apple">
                        <span> {{_('call_btn')}}</span>
                    </div>
                   
                </a>

                <a href="mailto:***REMOVED***" target="_blank">
                    <div class="content">
                        <img src="/static/imagesweb/envelope-fill.svg" alt="" class="icon-link">
                        <span> {{_('email_btn')}}</span>
                    </div>
                    
                </a>     
            </div>


        <!--Photos Wall -->
        <div class="photowall">
            <div class="scroller_in">
                <img src="/static/imagesweb/team1.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team2.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team3.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team4.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team5.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team6.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team1.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team2.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team3.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team4.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team5.jpeg" alt="" class="photo">
                <img src="/static/imagesweb/team6.jpeg" alt="" class="photo">
            </div>
        </div>
        </div>
    </div>



    <!-- <img src="../static/imagesweb/back.png" alt="" class="back" id="ADS"> -->
    <div class="contact">
        <div class="right">
            <h3> {{_('contact_right_1')}}</h3>
            <p>{{_('contact_right_2')}}</p>
            <a href="tel:+3224204130" class="btn">
                <img src="/static/imagesweb/telephone-fill.svg" alt="" class="apple">
                <span> {{_('call_btn')}}</span>
            </a>
            <br>
            <h3>{{_('contact_right_3')}}</h3>
            <div class="chat-buttons">
                <a href="mailto:***REMOVED***" target="_blank">
                    <img src="/static/imagesweb/envelope-fill.svg" alt="" class="icon-link">
                    <span>{{_('contact_right_5')}}</span>
                </a>
            </div>
            <div class="visit">
                <h3>{{_('contact_right_7')}}</h3>
                {% for store in stores %}
                    <a href="https://goo.gl/maps/7Z3Q7Q7Q7Q7Q7Q7Q7" target="_blank">
                        <div class="link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                            </svg>
                            <span>{{ store.adress }}</span>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="contact-form">
            <form action="{{ url_for('chatwithus')}}" method="post" class="form">
                <div class="entry">
                    <div class="block">
                        <span>{{_('firstname')}}</span>
                        <input type="text" required name="first_name" id="first_name" placeholder="First name" class="input">
                    </div>
                    <div class="block">
                        <span>{{_('lastname')}}</span>
                        <input type="text" name="last_name" id="last_name" placeholder="Last name" class="input">
                    </div>
                </div>
                <div class="entry">
                    <div class="block">
                        <span>{{_('phone_number')}}</span>
                        <input type="tel" required name="phone" id="phone" placeholder="Phone number" class="input">
                    </div>
                </div>
                <div class="entry">
                    <div class="block">
                        <span>{{_('email')}}</span>
                        <input type="email" required name="email" id="email" placeholder="Email" class="input">
                    </div>
                </div>

                <div class="entry">
                    <div class="block">
                        <span>{{_('subject')}}</span>
                        <textarea name="subject" required rows="5" id="subject" placeholder="Subject" class="input"></textarea>
                    </div>
                </div>
                {% if message %}
                <div class="alert" role="alert">
                    {{ _(message) }}
                </div>
                {% endif %}
                <input type="submit" value="Send message" class="submit-btn">
            </form>
        </div>
    </div> 
</section>
{% endblock %}
