{% extends "layout.html" %}

{% block title %} Gallery {% endblock %}

{% block page %}
<section class="page2" id="delivery_page">
    <div class="description">
        <!-- Header -->
        <div class="header">
            <img src="/static/images/signature.jpg" alt="" class="illustration">
            <span class="title"> Le nettoyage qui vient à vous</span>
            <div class="subtitle">
                <p>
                    <strong>Vous ne pouvez pas vous déplacer pour déposer ou récupérer votre linge ? Ex-Press Dry Clean s'occupe de tout !</strong>
                    Que ce soit pour la collecte de votre linge sale ou la livraison de vos vêtements propres, nous vous proposons un service de livraison sur-mesure à l’adresse de votre choix, partout en Belgique.<br>
                    
                </p>
                <p>
                    <b>Contactez-nous dès aujourd'hui</b> pour organiser la collecte ou la livraison de votre linge. Avec Ex-Press Dry Clean, profitez de la qualité professionnelle directement à votre porte !
                </p>

                <div class="contact_card">
                    <img src="/static/images/Chale.jpg" alt="" class="contact_img">
                    
                    <div class="contact_infos">
                        <span class="contact_name">Jean Arts</span>
                        <a href="mail-to:delivery@expressdryclean.be" class="contact_btn">Email</a>
                        <a href="tel:+0475528451" class="contact_btn">(32)0475528451</a>
                    </div>
                </div>

                <p>
                    <a href="http://express.heanlab.com/">
                        <h1>
                            <i>«Ex-Press Dry Clean, directement chez vous» </i>
                        </h1>
                    </a>
                </p>

                <p>
                    Chez Ex-Press Dry Clean, nous proposons un service de livraison à domicile adapté à vos besoins, avec des frais de livraison en fonction de votre zone géographique :
                    <br></br>
                    <ul>
                        <li>Zone Bruxelles : 5 €</li>
                        <li>Zone Brabant Wallon et Brabant Flamand : 10 €</li>
                        <li>En dehors de ces zones : Tarification kilométrique sur demande.</li>
                    </ul>
                    <br></br>
                    N'hésitez pas à nous contacter pour plus de détails sur les tarifs spécifiques à votre adresse. Nous nous engageons à rendre votre expérience aussi pratique et accessible que possible !
                </p>
            </div>

            
        </div>
        
        
    </div>
        <!-- Page 2 -->
    <div  id="delivery">
        <div class="delivery-bloc">
            <div class="title1"> 1. Prise de Rendez-vous </div>
            <div class="subtitle">Choisissez une date et un créneau horaire qui vous conviennent pour la collecte. Vous pouvez réserver facilement en ligne ou par téléphone.</div>
        </div>

        <div class="delivery-bloc">
            <div class="title1"> 2. Collecte à domicile </div>
            <div class="subtitle"> Nos livreurs viennent directement chez vous pour récupérer vos vêtements. Vous n’avez qu’à les préparer, et nous nous chargeons du reste. </div>
        </div>

        <div class="delivery-bloc">
            <div class="title1"> 3. Nettoyage et Soins </div>
            <div class="subtitle">Une fois vos vêtements arrivés dans nos locaux, ils sont traités avec le plus grand soin. Notre équipe d’experts s’assure que chaque article est nettoyé et repassé avec précision. </div>
        </div>
        <div class="delivery-bloc">
            <div class="title1"> 4. Retour des Vêtements Propres </div>
            <div class="subtitle"> Dès que vos vêtements sont prêts, nous les livrons chez vous, à l’heure convenue. Profitez de vêtements impeccables, sans aucun effort. </div>
        </div>
        <div class="delivery-bloc">
            <img src="/static/imagesweb/transport.jpeg" alt="" class="delivery-img">
        </div>
        
    </div>

</section>
{% endblock %}
