{% extends "layout.html" %}

{% block title %} {{_('Delivery') }} {% endblock %}

{% block page %}
<section class="page2" id="delivery_page">
    <div class="description">
        <!-- Header -->
        <div class="header">
            <img src="/static/imagesweb/delivery.jpeg" alt="" class="illustration">
            <span class="title">{{_('delivery_title')}}</span>
            <div class="subtitle">
                <p>
                    <strong>{{_('delivery_subtitle_1')}}</strong>
                    {{_('delivery_subtitle_2')}}<br>
                    
                </p>
                <p>
                    {{_('delivery_subtitle_3')}}

                </p>

                <div class="contact_card">
                    <img src="/static/images/Chale.jpg" alt="" class="contact_img">
                    
                    <div class="contact_infos">
                        <span class="contact_name">Jean Arts</span>
                        <a href="mail-to:delivery@expressdryclean.be" class="contact_btn">{{_('email')}}</a>
                        <a href="tel:+32475528451" class="contact_btn">(32)0475528451</a>
                    </div>
                </div>

                <p>
                    <a href="http://express.heanlab.com/">
                        <h1>
                            <i>{{_('delivery_citation')}}</i>
                        </h1>
                    </a>
                </p>

                <p>
                    {{_('delivery_text_1')}}
                    <br></br>
                    <ul>
                        <li>{{_('delivery_zone_1')}}</li>
                        <li>{{_('delivery_zone_2')}}</li>
                        <li>{{_('delivery_zone_3')}}</li>
                    </ul>
                    <br></br>
                    {{_('delivery_text_2')}}
                </p>
            </div>

            
        </div>
        
        
    </div>
        <!-- Page 2 -->
    <div  id="delivery">
        <div class="delivery-bloc">
            <div class="title1">{{_('delivery_bloc_1_title')}}</div>
            <div class="subtitle">{{_('delivery_bloc_1_sub')}}</div>
        </div>

        <div class="delivery-bloc">
            <div class="title1">{{_('delivery_bloc_2_title')}}</div>
            <div class="subtitle">{{_('delivery_bloc_2_sub')}} </div>
        </div>

        <div class="delivery-bloc">
            <div class="title1">{{_('delivery_bloc_3_title')}}</div>
            <div class="subtitle">{{_('delivery_bloc_3_sub')}}</div>
        </div>
        <div class="delivery-bloc">
            <div class="title1">{{_('delivery_bloc_4_title')}}</div>
            <div class="subtitle">{{_('delivery_bloc_4_sub')}} </div>
        </div>
        <div class="delivery-bloc">
            <img src="/static/imagesweb/transport.jpeg" alt="" class="delivery-img">
        </div>
        
    </div>

</section>
{% endblock %}
