{% extends "layout.html" %}

{% block title %} {{_('Delivery') }} {% endblock %}

{% block page %}
<section class="page1">
    <video class="phone" autoplay muted playsinline poster="/static/imagesweb/0001.png">
        <source src="/static/videos/0001-0140.mp4" type="video/mp4"/>
    </video>
    <div class="presentationBloc">
        <h1 class="ExpressTitle">Ex-Press Dry Clean</h1>
        <p class="ExpressTitle"> {{_('delivery_title')}} </p>
        <a href="https://testflight.apple.com/join/r5vANLZh" class="">
            <img src="/static/imagesweb/apple.svg" alt="" class="apple">
        </a>
    </div>
</section>
<section class="page2" id="delivery_page">
    <div class="description">
        <!-- Header -->
        <div class="header">
            <span class="title1" data-aos="fade-down">{{_('delivery_title')}}</span>
            <div class="subtitle">
                <p>
                    <strong>{{_('delivery_subtitle_1')}}</strong>
                    {{_('delivery_subtitle_2')}}<br>
                    
                </p>
                <p>
                    {{_('delivery_subtitle_3')}}

                </p>

                <div class="contact_card">
                    <img src="/static/images/livreur.jpg" alt="" class="contact_img">
                    
                    <div class="contact_infos">
                        <span class="contact_name">Djaffer</span>
                        <a href="mailto:delivery@expressdryclean.be" class="contact_btn">
                            <img src="/static/imagesweb/envelope-fill.svg" alt="" class="icon-link">
                            <span>
                                {{_('email_btn')}}
                            </span> 
                           
                        </a>

                        <a href="tel:+32475528451" class="contact_btn">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-outbound-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5"/>
                              </svg>
                            <span>+32(0)475528451</span>
                        </a>
                    </div>
                </div>

                <p>
                    <a href="http://express.heanlab.com/">
                        <h1>
                            <i>{{_('delivery_citation')}}</i>
                        </h1>
                    </a>
                </p>

                <p>
                    {{_('delivery_text_1')}}
                    <br></br>
                    <div id="prices_list"  data-title="{{_('Pricing')}}">
                    
                        <div class="price-card tilt_card" data-aos="fade-up">
                            <div class="js-tilt-glare">
                                <div class="js-tilt-glare-inner">
                                    <img src="/static/imagesweb/logo.png" alt="" class="price-card-image">
                                </div>
                            </div>
                            <h2>{{_('delivery_zone_1')}}</h2>
                            <span class="value">
                                {{ params.tarif_bruxelles }}€
                            </span>
                        </div>
                        <div class="price-card tilt_card" data-aos="fade-left">
                            <div class="js-tilt-glare">
                                <div class="js-tilt-glare-inner">
                                    <img src="/static/imagesweb/logo.png" alt="" class="price-card-image">
                                </div>
                            </div>
                            <h2>{{_('delivery_zone_2')}}</h2>
                            <span class="value">
                                {{ params.tarif_brabant }}€
                            </span>
                        </div>
                        <div class="price-card tilt_card" data-aos="fade-right">
                            <div class="js-tilt-glare">
                                <div class="js-tilt-glare-inner">
                                    <img src="/static/imagesweb/logo.png" alt="" class="price-card-image">
                                </div>
                            </div>
                            <h2>{{_('delivery_zone_3')}}</h2>
                        </div>
                    </div>
                    <br></br>
                    {{_('delivery_text_2')}}
                </p>
            </div>

            
        </div>
        
        
    </div>


    <div class="about-content">
        
        <div class="engagements">
            
            <div class="title1" data-aos="fade-up">{{_('engagements_title_2')}}</div>
            <div class="subtitle"data-aos="fade-down" data-aos-delay="200"> {{_('engagements_sub')}}</div>
            <a href="{{url_for("pricing", lang=lang)}}" class="button">{{_('engagements_btn1')}}</a>
            <div class="empty-space"></div>
            <div class="values">
                <div class="block spacer">
                    <div class="engagement dark" data-aos="fade-down">
                        <img src="/static/images/pub3.jpg" alt="nettoyage haut de gamme" class="engagement-image">
                        <span class="title">{{_('delivery_bloc_1_title')}}</span>
                        <span class="value">{{_('delivery_bloc_1_sub')}}</span>
                    </div>
                    <div class="engagement dark" data-aos="fade-left">
                        <img src="/static/imagesweb/transport.jpeg" alt="collecte" class="engagement-image">
                        <span class="title">{{_('delivery_bloc_2_title')}}</span>
                        <span class="value">{{_('delivery_bloc_2_sub')}}</span>
                    </div>
                </div>
                <div class="block">
                    <div class="engagement dark" data-aos="fade-up">
                        <img src="/static/images/CintresLight.jpg" alt="nettoyage et soins" class="engagement-image">
                        <span class="title">{{_('delivery_bloc_3_title')}}</span>
                        <span class="value">{{_('delivery_bloc_3_sub')}}</span>
                    </div>
                    <div class="engagement dark" data-aos="fade-right">
                        <img src="/static/imagesweb/share_img.jpeg" alt="retour de vetements" class="engagement-image">
                        <span class="title">{{_('delivery_bloc_4_title')}}</span>
                        <span class="value">{{_('delivery_bloc_4_sub')}}</span>
                    </div>
                </div>
            </div>
            <a href="{{url_for('localization', lang = lang )}}" class="button">{{_('engagements_btn2')}}</a>
        </div>
    </div>

</section>
{% endblock %}
