{% extends "layout.html" %}
{% block title %} {{_(1)}} {% endblock %}

{% block page %}
<section class="page1">

        <!-- <div class="backblur">
            <img src="/images/back.png" alt="" class="back2">
        </div> -->
        <img src="/static/imagesweb/back2.png" alt="" class="phone" id="phone1">
        <img src="/static/imagesweb/back3.png" alt="" class="phone" id="phone2">
        <div class="presentationBloc">
            <h1 class="ExpressTitle">EX-PRESS Dry Clean</h1>
            <p class="ExpressTitle">{{ _('title_sub') }}</p>
            <a href="https://testflight.apple.com/join/r5vANLZh" class="">
                <img src="/static/imagesweb/apple.svg" alt="" class="apple">
            </a>
        </div>

</section>

<!-- Page 4 -->
<section class="page2 large" id="services" data-aos="zoom-in">
    <div class="title1">{{ _('Nos_services') }}</div>
    <div class="subtitle">{{ _('Nos_service_subtitle') }}</div>
    <div class="list">
        {% for cat in categories %}
            <a href="{{url_for('pricing', lang = lang, subpage = cat.name)}}" class="service" data-aos="fade-down" data-aos-delay="{{ loop.index * 100 }}">
                <img src="/static/images/{{ cat.illustrations }}" alt="" class="cat_bg_img">
                <div class="description1">
                    <h2>{{ _(cat.name) }}</h2>
                </div>
                <div class="description2" >
                    <div class="up">
                        <h2 data-aos="fade-up"> {{ _(cat.name) }} </h2>  
                    </div>
                    <div class="down">
                        {{ _(cat.description) }}
                    </div>
                    
                </div>
            </a>
        {% endfor %}
    </div>
</section>




<!-- Page 3 -->
<section class="page2" id="offers">
    <div class="title1" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">
        {{ _("Notre travail") }}
    </div>
    
    <ul class="backgrid">
        {% for card in dictionary['strengths'] %}
            <li><img src="/static/imagesweb/{{card.illustration}}" alt="" class="img-back"></li>
            <li>
                <!-- <img src="/static/imagesweb/checkmark-seal-svgrepo-com.svg" alt="" class="img-round"> -->
                <div class="text">
                    <h2>{{ _(card.title) }}</h2>
                    <p>{{ _(card.description) }}</p>
                </div>
           </li>
        {% endfor %}
    </ul>
</section>


<!-- Page 5 -->
 <section class="page2" id="locations">
    <div class="title1" data-aos="fade-down"
    data-aos-easing="linear"
    data-aos-duration="1500">{{ _('title5') }}</div>
    <div class="subtitle flex">
        <span data-aos="fade-up" data-aos-duration="">{{ _('subtitle5-1') }} <br></span>
        <div class="divider_vertical"></div>
        <span data-aos="fade-up" data-aos-duration=""> {{ _('subtitle5-2') }} <br></span>
        <div class="divider_vertical"></div>
        <span data-aos="fade-up" data-aos-duration=""> {{ _('subtitle5-3') }}</span>
        <div class="divider_vertical"></div>
        <span data-aos="fade-up" data-aos-duration=""> {{ _('subtitle5-4') }}</span>
       
    </div>
    <div class="store_locations">
        {% for store in stores %}

    <div class="location" data-aos="fade-up-left" data-aos-delay="{{ loop.index * 150 }}">
        
        <span class="bigTitle">{{ _(store.name) }}</span>
        {% if store.name != "App" %}
            <span class="smallTitle">{{ _(store.adress) }}</span>
        {% endif %}
        <div class="loc-illustration">
            <img src="http://express.***REMOVED***/getimage?name={{ store.image }}" alt="" class="loc-img">
            <div class="informations">
                {% if store.subtitle %}
                    <span>{{ _(store.subtitle) }}</span>
                {% endif %}
                <!-- Button goto -->
                <a href="https://goo.gl/maps/7Z8Z9Z9Z9Z9Z9Z9Z9" class="button right">{{ _('goto') }}</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
    
 </section>

{% endblock %}
