{% extends "layout.html" %}

{% block title %} {{ _('Localization') }} {% endblock %}

{% block page %}
<section class="page2" id="localization">

    {% if selected_store %}
    <div class="description">
        <div class="header">
            <img src="http://express.***REMOVED***/getimage?name={{ selected_store.image }}" alt="" class="illustration">
            <span class="title">EX-PRESS Dry Clean {{ _(selected_store.name) }}</span>
            
            <div class="subtitle">
                <div class="openPanel">
                    {% for day in dictionary['days'][0:5] %}
                    <div class="day">
                        <span>{{ _(day) }}:</span>
                        {% set a = selected_store.weekTimeStart // 60 %}
                        {% set b = selected_store.weekTimeStart % 60 %}
                        {% set c = selected_store.weekTimeEnd // 60 %}
                        {% set d = selected_store.weekTimeEnd % 60 %}
                        {% if b == 0 %}
                        {% set b = "00" %}
                        {% endif %}
                        {% if d == 0 %}
                        {% set d = "00" %}
                        {% endif %}

                        <span>{{ a }}:{{ b }} - {{ c }}:{{ d }}</span>
                    </div>
                    {% endfor %}
                    
                    {% for day in dictionary['days'][5:6] %}
                    <div class="day">
                        <span>{{ _(day) }}:</span>
                            {% set a = selected_store.weekendTimeStart // 60 %}
                            {% set b = selected_store.weekendTimeStart % 60 %}
                            {% set c = selected_store.weekendTimeEnd // 60 %}
                            {% set d = selected_store.weekendTimeEnd % 60 %}
                            {% if b == 0 %}
                            {% set b = "00" %}
                            {% endif %}
                            {% if d == 0 %}
                            {% set d = "00" %}
                            {% endif %}
                            <span>{{ a }}:{{ b }} - {{ c }}:{{ d }}</span>
                    </div>
                        
                    {% endfor %}
                </div>
                {{ _(selected_store.desc) | safe }} 
            </div>
        </div>
    </div>

    {% endif %}
    <div class="description">
        <br>
        <h1>{{ _('Our Locations') }}</h1>
        <div class="header">
            <div class="localization_all">
                <div class="title1">{{ _('title5') }}</div>
                <div class="subtitle flex">
                    {{ _('subtitle5-1') }} <br>
                    <div class="divider_vertical"></div>
                    {{ _('subtitle5-2') }} <br>
                    <div class="divider_vertical"></div>
                    {{ _('subtitle5-3') }}
                    <div class="divider_vertical"></div>
                    {{ _('subtitle5-4') }}
                </div>
                <div class="store_locations">
                    {% for store in stores %}
                <div class="location" data-aos = "fade-up" data-aos-delay = {{loop.index * 300}} data-aos-duration = 1000>
                    
                    <span class="bigTitle">{{ _(store.name) }}</span>
                    {% if store.name != "App" %}
                        <span class="smallTitle">{{ _(store.adress) }}</span>
                    {% endif %}
                    <div class="loc-illustration">
                        {% if store.map %}
                        <div class="map-img">
                            <iframe src={{ store.map}}  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        {% else %}
                        <img src="http://express.***REMOVED***/getimage?name={{ store.image }}" alt="" class="loc-illustration">
                        {% endif %}
                        <div class="informations">
                            <span>{{ _(store.subtitle) }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
                
            </div>
        </div>
    </div>

</section>
{% endblock %}
