{% extends "layout.html" %} 

{% block title %} {{_('Pricing') }}
{% endblock %} 

{% block page %}

<section id="pricing" class="page2">
  <!--     <div>
        <h1>{{category}}</h1>
        <h1>{{other_categories}}</h1>
        <h1>{{services}}</h1>
    </div>
 -->

  <div class="description">
    <!-- Header -->
    <div class="header">
      <div class="signature">
        <div class="custom-signature" data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
          <div class="signature-card">
            <img src="/static/images/signature.jpeg" alt="">
          </div>
        </div>
      </div>
      <br><br>

      {% if services %}
      <div id="active_service_background">
        <img src="/static/images/{{ selected_category.image }}" alt="">
      </div>
        
        <div class="title1">{{ _('Our Services') }} {{_(selected_category.name)}}</div>
        <div class="divider_vertical"></div>
        {% if selected_store %}
          <div class="subtitle">{{_(selected_store.name )}}</div>
          <div class="services">
            {% for service in services %}
              {% set price = service.price_2 if selected_store in ["Auderghem", "Moortebeek"] else service.price_1 %}
              {% if price > 0 %}
                <div class="service" data-aos="fade-down">
      
                  <div class="infos">
                    <h2>{{ _(service.name) }}</h2>
                    {% if '_' not in _(service.description) %}
                      <p>{{ _(service.description) | safe}}</p>
                    {% endif %}
                  </div>
                  <div class="costs">
                    <div class="price">
                      {% if (selected_store == "Moortebeek") or selected_store == "Auderghem"  %}
                      <span class="value"> {{ service.price_2 }}€</span>
                      {% else %}
                      <span class="value"> {{ service.price_1 }}€</span>
                      {% endif %}
                    </div>
                  </div>
                  <span>{{service.price}}</span>
                </div>
              {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        
        {% if not selected_store %}
        <div class="divider horizontal"></div>
          <span class="title1">{{_('Select a Store')}}</span>
          <div class="list">
            {% for store in stores %}
              <a href="{{url_for('pricing', lang = lang, subpage = selected_category.name, store = store.name)}}" class="service">
              <img src="/static/imagesweb/{{store.image}}" alt="" class="cat_bg_img">
              <div class="description1">
                  <h2>{{ _(store.name) }}</h2>
              </div>
              <div class="description2">
                  <div class="up">
                      <h2> {{ _(store.name) }} </h2>  
                  </div>
                  <div class="down">
                    {{_('Go to store')}}
                  </div>
                  
              </div>
              </a>
            {% endfor %}
          </div>
          
        {% endif %}
          <span class="subtitle"> {{ _(selected_category.informations) | safe}}</span>

      {% else %}
      <div id="full_screen_background">
        <img src="/static/images/familyREMOVED.png" data-index="500" />
        {% for category in categories %}
          <img src="/static/images/{{ category.image }}" alt="" class="hide" data-index="{{category.index}}"/>
        {% endfor %}
      </div>
      <span class="title1">{{_('Select a Store')}}</span>
      <div class="list">

        {% for cat in categories %}
            <div class="service" data-index = "{{cat.index}}">
                <img src="/static/images/{{ cat.illustrations }}" alt="" class="cat_bg_img">
                <div class="description1">
                    <h2>{{ _(cat.name) }}</h2>
                </div>
                <div class="description2">
                    <div class="up">
                        <h2> {{ _(cat.name) }} </h2>
                    </div>
                    <div class="down infinite">
                        <!-- For princing, show the list of stores -->
                         <div class="toStores_links">
                            {% for store in stores %}
                                <a href="{{url_for('pricing', lang = lang, subpage = cat.name, store = store.name)}}">{{ _(store.name) }}</a>
                            {% endfor %}
                         </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
    </div>
      {% endif %}
    </div>
  </div>

</section>
{% endblock %}
